<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE language SYSTEM "language.dtd">
<language id="$languageId" _name="YajCo $languageName" version="2.0" _section="Source">
  <metadata>
    #if ($mimetypes)
    <property name="mimetypes">$mimetypes</property>
    #end
    #if ($globs)
    <property name="globs">$globs</property>
    #end
    #if (!$linecomments.isEmpty() )
    #foreach ($comment in $linecomments)
      <property name="line-comment-start">$comment</property>
    #end
    #end
    #if (!$blockcomments.isEmpty() )
    #foreach ($comment in $blockcomments)
      <property name="block-comment-start">${comment.left}</property>
      <property name="block-comment-end">${comment.right}</property>
    #end
    #end
  </metadata>
  
  <styles>
    <style id="comment" _name="comment" map-to="def:comment"/>
    <style id="keyword" _name="keyword" map-to="def:keyword"/>
  </styles>
  <definitions>
    <context id="$languageId" class="no-spell-check">
      <include>
        #if (!$keywords.isEmpty() )
        <context id="keyword" style-ref="keyword">
          #foreach ($keyword in $keywords)
            <keyword>$keyword</keyword>
          #end
         </context>
         #end
         #if (!$linecomments.isEmpty() )
         #foreach ($comment in $linecomments)
         <context id="line-comment" style-ref="comment" end-at-line-end="true" class="comment" class-disabled="no-spell-check">
       	   <start>$comment</start>
      		 <include>
        	   <context ref="def:in-line-comment"/>
      		 </include>
    	 </context>
         #end
         #end
         #if (!$blockcomments.isEmpty() )
         #foreach ($comment in $blockcomments)
         <context id="block-comment" style-ref="comment" class="comment" class-disabled="no-spell-check">
      	   <start>${comment.left}</start>
      	   <end>${comment.right}</end>
      	   <include>
        	 <context ref="def:in-comment"/>
      	   </include>
    	 </context>
         #end
         #end
       </include>
     </context>
   </definitions>
</language>
